apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  name: "cassandradatacenter-webhook-registration"
webhooks:
- name: "cassandradatacenter-webhook.cassandra.datastax.com"
  rules:
  - apiGroups:   ["cassandra.datastax.com"]
    apiVersions: ["v1beta1"]
    operations:  ["CREATE", "UPDATE", "DELETE"]
    resources:   ["cassandradatacenters"]
    scope:       "*"
  clientConfig:
    service:
      name: "cassandradatacenter-webhook-service"
      namespace: "cass-operator"
      path: /validate-cassandra-datastax-com-v1beta1-cassandradatacenter
  admissionReviewVersions: ["v1beta1"]
  failurePolicy: "Ignore"
  matchPolicy: "Equivalent"
  sideEffects: None
  timeoutSeconds: 10
