# Basic values.yaml for Kong for Kubernetes Enterprise
# Several settings (search for the string "CHANGEME") require user-provided
# Secrets. These Secrets must be created before installation.

image:
  repository: kong-docker-kong-enterprise-k8s.bintray.io/kong-enterprise-k8s
  tag: 2.0.4.1-centos
  pullSecrets:
    # CHANGEME: https://github.com/Kong/charts/blob/master/charts/kong/README.md#kong-enterprise-docker-registry-access
    - kong-enterprise-k8s-docker

enterprise:
  enabled: true
  # CHANGEME: https://github.com/Kong/charts/blob/master/charts/kong/README.md#kong-enterprise-license
  license_secret: kong-enterprise-license

env:
  database: "off"

ingressController:
  enabled: true
  installCRDs: false
