<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.datastax.kubernetes" level="trace"/>

  <root level="error">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
