name: Cass Operator Build & Deploy
on: pull_request
jobs:
  build_operator_docker:
    name: Build Cass Operator Docker Image - Testing
    runs-on: ubuntu-latest
    steps:
      - name: Testing
        run: |
          echo "Repo: ${GITHUB_REPOSITORY}"
          echo "Base Ref: ${GITHUB_BASE_REF}"
          echo "Head Ref: ${GITHUB_HEAD_REF}"
