name: Cass Operator Build & Deploy
on: pull_request
jobs:
  build_operator_docker:
    name: Build Cass Operator Docker Image
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/go
      GOROOT: /usr/local/go1.13
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
      - name: Install Mage
        run: |
          cd /tmp
          wget https://github.com/magefile/mage/releases/download/v1.9.0/mage_1.9.0_Linux-64bit.tar.gz
          tar -xvf mage_1.9.0_Linux-64bit.tar.gz
          mkdir -p $GOPATH/bin
          mv mage $GOPATH/bin/mage
          sudo chmod +x $GOPATH/bin/mage
      - name: Test Sdk Generate
        run: |
          export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
          mage operator:testSdkGenerate
      - name: Test Client Generate
        run: |
          export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
          mage operator:testGenerateClient
      - name: Build docker - standard image
        env:
          MO_BRANCH: ${{ github.event.pull_request.head.ref }}
        run: |
          export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
          mage operator:testAndBuild
      - name: Deploy to ECR - standard image
        if: github.event.pull_request.head.repo.full_name == 'datastax/cass-operator'
        env:
          MO_ECR_ID: ${{ secrets.ECR_ID }}
          MO_ECR_SECRET: ${{ secrets.ECR_SECRET }}
          MO_ECR_REPO: ${{ secrets.ECR_REPO }}
        run: |
          export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
          export MO_TAGS=$(cat ./build/tagsToPush.txt)
          mage operator:deployToECR
      - name: Deploy to GH Packages - standard image
        if: github.event.pull_request.head.repo.full_name == 'datastax/cass-operator'
        env:
          MO_GH_USR: 'datastax/cass-operator'
          MO_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MO_GH_PKG_REPO: 'datastax/cass-operator/operator'
        run: |
          export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
          export MO_TAGS=$(cat ./build/tagsToPush.txt)
          mage operator:deployToGHPackages
      - name: Build docker - ubi image
        env:
          MO_BRANCH: ${{ github.event.pull_request.head.ref }}
          MO_BASE_OS: 'registry.access.redhat.com/ubi7/ubi-minimal:7.8'
        run: |
          export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
          mage operator:testAndBuild
      - name: Deploy to ECR - ubi image
        if: github.event.pull_request.head.repo.full_name == 'datastax/cass-operator'
        env:
          MO_ECR_ID: ${{ secrets.ECR_ID }}
          MO_ECR_SECRET: ${{ secrets.ECR_SECRET }}
          MO_ECR_REPO: ${{ secrets.ECR_REPO }}
        run: |
          export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
          export MO_TAGS=$(cat ./build/tagsToPush.txt)
          mage operator:deployToECR
      - name: Deploy to GH Packages - ubi image
        if: github.event.pull_request.head.repo.full_name == 'datastax/cass-operator'
        env:
          MO_GH_USR: 'datastax/cass-operator'
          MO_GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MO_GH_PKG_REPO: 'datastax/cass-operator/operator'
        run: |
          export PATH=$GOROOT/bin:$GOPATH/bin:$PATH
          export MO_TAGS=$(cat ./build/tagsToPush.txt)
          mage operator:deployToGHPackages
